<h1>Manage Traders</h1>

<%= link_to 'Create New Trader', new_admin_user_path, class: 'button' %>

<% if @users.any? %>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.role.capitalize %></td>
          <td><%= user.created_at.to_date %></td>
          <td>
            <%# <%= link_to 'Edit', edit_admin_user_path(user) %> # Uncomment if you add edit functionality %>
            <%# <%= link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %> # Uncomment if you add delete functionality %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No traders found yet.</p>
<% end %>